.container {
	height: 250px;
	width: 700px;
	border-style: solid;
}

.box {
	margin: 20px;
}

.box1 {
	border-style: solid;
	border-width: thin;
	width: 100px;
	height: 20px;
	margin: 10px;
	padding: 10px;
}

.box2 {
	border-style: solid;
	border-width: thin;
	width: 100px;
	height: 20px;
	margin: 10px;
	padding: 10px;
}

.box3 {
	border-style: solid;
	border-width: thin;
	width: 100px;
	height: 20px;
	margin: 10px;
	padding: 10px;
}

.input {
	margin-left: 200px;
	height: 1000px;
	width: 400px;
	margin-top: -165px;
}

input[type="text"] { 
	padding: 10px 10px; line-height: 10px;
	margin: 8px;
}

.select{
	margin: 8px;
	width: 440px;
	height: 40px;
	margin-top: 5px;
}

.btn {
	width: 70px;
	height: 30px;
	margin-top: 20px;
	margin-left: -165px;
}